<% content_for(:title) { 'Home' } %>
<h1>Welcome to RubyGardens Home</h1>
<h2>Минск</h2>

<div>Адрес центра: Домбровская 9, 5 этаж<br>
  Минск, Беларусь, 220140
</div>

<%= image_tag "http://rubygardens.org/system/images/BAhbB1sHOgZmSSIzMjAxMi8wOC8xMC8wNl8yM18zOV81MDFfQWx0b3Jvc19Ta3lfVG93ZXJzLmpwZwY6BkVUWwg6BnA6CnRodW1iSSINNDUweDQ1MD4GOwZU/Altoros-Sky-Towers.jpg" %>