<% content_for(:title) { 'Who We Are' } %>
<h1>Who We Are</h1>
<ul>
  <% @emails.each do |email| %>
    <li><%= image_tag gravatar_helper(email) %></li>

  <% end %>
  <%= Digest::MD5.hexdigest("paveltyk@gmail.com")  %>
</ul>